<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  <div class="collapse navbar-collapse" id="containerNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="restaurantes">Restaurantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pratos">Pratos</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
