/* You can add global styles to this file, and also import other style files */

.titulo {
    margin-top: 40px;
    margin-bottom: 20px;
}

input, select {
    max-width: 700px;
}

td.opcao.delete {
    width: 20px;
}

td.opcao.edit {
    width: 40px;
}

button:hover { cursor: pointer; }